@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
*{
  font-family: segoeui;
  margin: 0;
  top: 0;
}
/* ==============================CSS Desktop===============================*/
.topnav {
  background-color: #2571B7;
  overflow: hidden;
  width: auto;
  height: auto;
}
.topnav img {
  position: relative;
  right: -100px;
  top: 10px;

}
.topnav button {
  float: right;  
  margin: 10px;
  position: relative;
  background-color: #002050;
  color: white;
  font-size: 1rem;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.topnav a {
  
  float: right;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.1rem;
}

.topnav a:hover {
  color: white;
}

.topnav .icon {
  display: none;
}

/* ==============================CSS Responsivo===============================*/

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
  .topnav img {
    display: none;
  }
  .topnav button {
    float: right;
    align-items: center;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    color: white;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive button {
    display: none;
  }
  .topnav.responsive img {
    display: none;
  }
}